@import "../../../styles/variables";

li {
	border-top: 1px dashed #{$color-divider};

	&::before {
		align-items: center;
		background-color: $color-bg-neutral;
		border-radius: 50%;
		color: $color-text-light;
		content: attr(data-before);
		display: inline-flex;
		height: 2em;
		justify-content: center;
		width: 2em;
	}
}

:host:first-of-type {
	li {
		border: none;
	}
}

figcaption {
	font-weight: $font-weight-bold;

	&::before {
		color: $color-text-lighter;
		content: attr(data-before);
		font-weight: $font-weight-medium;
	}
}
