<mat-card class="card">
	<app-error-message *ngIf="errorMessage" [canBeDismissed]="true">
		{{ errorMessage }}
	</app-error-message>
	<form [formGroup]="form" (ngSubmit)="handleNgSubmit()">
		<mat-form-field>
			<textarea
				matInput
				cdkTextareaAutosize
				cdkAutosizeMinRows="1"
				cdkAutosizeMaxRows="8"
				placeholder="Type in the quote you want to save"
				formControlName="content"
			></textarea>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="by 'anonymous'" formControlName="author" />
		</mat-form-field>
		<div class="flex items-center justify-end gap-1">
			<span *ngIf="showSavedSbj$ | async" class="success-feedback text-sm">Saved!</span>
			<button mat-flat-button type="submit" color="primary" [disabled]="isSubmitDisabled()">
				{{ isSaving ? "Saving..." : "Save" }}
			</button>
		</div>
	</form>
</mat-card>
