<mat-card
	class="card"
	*ngIf="{
		isLoading: isLoading$ | async,
		pagination: pagination$ | async,
	} as asyncData"
>
	<h2 class="mt-1/2 mb-1">Your saved quotes</h2>
	<app-error-message *ngIf="isError$ | async">
		Something didn't work. Please try to
		<button type="button" class="link-color-inherit" (click)="handleClickRefreshPage()">
			refresh the page</button
		>.
	</app-error-message>
	<mat-form-field *ngIf="showSearchField">
		<input matInput type="search" name="searchKeywords" />
	</mat-form-field>
	<p
		*ngIf="asyncData.isLoading && !quotes.length; else dataTemplate"
		class="status-message text-sm mt-1/2"
	>
		Quotes are loading...
	</p>
	<ng-template #dataTemplate>
		<ng-container>
			<p *ngIf="!quotes.length; else listTemplate" class="text-sm">No quotes found.</p>
			<ng-template #listTemplate>
				<ol class="m-0 p-0" [ngClass]="{ 'opacity-50': asyncData.isLoading }">
					<app-quotes-list-item
						*ngFor="let quote of quotes; index as i"
						[quote]="quote"
						[itemIndex]="getPaginatedItemIndex(i, asyncData.pagination?.currentPage)"
					/>
				</ol>
				<app-pagination-menu
					[currentPage]="asyncData.pagination?.currentPage || 1"
					[numOfQuotes]="asyncData.pagination?.totalCount || 0"
					(onClick)="handleClickPagination($event)"
				/>
			</ng-template>
		</ng-container>
	</ng-template>
</mat-card>
