<mat-card
	class="card"
	*ngIf="{
		isLoading: isLoading$ | async,
		quotes: quotes$ | async,
	} as asyncData"
>
	<h2 class="mt-1/2 mb-1">Your saved quotes</h2>
	<p
		*ngIf="asyncData.isLoading && !asyncData.quotes?.length; else dataTemplate"
		class="status-message text-sm mt-1/2"
	>
		Quotes are loading...
	</p>
	<ng-template #dataTemplate>
		<ng-container *ngIf="asyncData.quotes as quotes">
			<p *ngIf="!quotes.length; else listTemplate" class="status-message text-sm">
				No quotes found.
			</p>
			<ng-template #listTemplate>
				<ol class="m-0 p-0" [ngClass]="{ 'opacity-50': asyncData.isLoading }">
					<app-quotes-list-item
						*ngFor="let quote of quotes; index as i"
						[quote]="quote"
						[itemIndex]="i + 1"
					/>
				</ol>
				<app-pagination-menu
					[currentPage]="currentPage"
					[numOfQuotes]="quotes.length"
					(onClick)="handlePageChange($event)"
				/>
			</ng-template>
		</ng-container>
	</ng-template>
</mat-card>
