<app-auth-layout>
	<p *ngIf="showSuccessMessage; else signupForm" class="" class="text-lg text-center">
		<strong>Your account is almost ready.</strong>
		<br />
		<br />
		Please, check your mailbox, you should have received an email with instructions on how to
		activate your account.
		<br />
		<br />
		Thank you!
	</p>

	<ng-template #signupForm>
		<app-auth-form-title>{{ pageItems.signup.pageTitle }}</app-auth-form-title>
		<app-auth-form type="signup" [isLoading]="isLoading" (onSubmit)="onSubmit($event)" />
		<p>Do you already have an account? <a [routerLink]="pageItems.login.url">Log in</a></p>
	</ng-template>
</app-auth-layout>
