@import "../../../styles/variables";
@import "../../../styles/media-queries";

.mat-mdc-card {
	display: block;
}

h3 {
	font-weight: $font-weight-bold;

	em {
		color: $color-primary-dark;
	}
}

.status-message,
.divider {
	color: $color-text-light;
}

.link {
	text-decoration: none;

	&:not(:disabled):hover {
		text-decoration: underline;
	}
}

.save-button {
	font-weight: $font-weight-bold;
}

.feedback {
	color: $color-success;
}

.toggle-button {
	margin-top: 0.5rem;
}

.hidden-on-mobile {
	display: none;
}

@include media-sm {
	h3 {
		font-size: 1rem;
		line-height: $line-height-lg;
	}

	.hidden-on-mobile {
		display: initial;
	}

	.toggle-button {
		display: none;
	}
}
