<app-loading-screen *ngIf="isLoading$ | async; else adminPage" />

<ng-template #adminPage>
	<main class="h-screen">
		<header>
			<div class="container h-full flex justify-between items-center">
				<h1>{{ title }}</h1>
				<div class="text-xs mt-1/2">
					<span>Hello {{ (user$ | async)?.name }}! —</span>
					<button type="button" class="logout-button text-sm" (click)="handleLogout()">
						Log out
					</button>
				</div>
			</div>
		</header>
		<div class="container page-content">
			<router-outlet />
		</div>
	</main>
</ng-template>
