@import "../../../styles/variables";
@import "../../../styles/media-queries";

main {
	background-color: $color-bg-primary;
}

header {
	background-color: $color-bg-header;
	color: $color-text-white;
	height: $metric-app-header-height;
	padding: 0 #{$metric-card-padding};
}

h1 {
	font-size: $font-size-xl;
}

.page-content {
	padding-top: $metric-main-content-padding-y;
}

@include media-sm {
	.logout-button {
		font-size: $font-size-sm;
	}
}

@include media-md {
	h1 {
		font-size: $font-size-2xl;
	}

	.page-content {
		padding-bottom: $metric-main-content-padding-y;
	}
}
